@import url(../main.css);
:root {
  --RDX: "Rajdhani", sans-serif;
  --Poppins: "Poppins", sans-serif;
  --Inter: "Inter", sans-serif;
  --ALS: "Alumni Sans", sans-serif;
  --black: #13141F;
}

#modal {
  z-index: 2;
  position: absolute;
  top: 0;
  background: rgba(57, 57, 64, 0.5568627451);
  width: 100%;
  height: 100%;
}
#modal .modal-wrap {
  width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-clip-path: polygon(0 3%, 13% 3%, 18% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 3%, 13% 3%, 18% 0, 100% 0, 100% 100%, 0 100%);
  padding: 50px 20px 20px 20px;
  background-color: #393940;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal .modal-wrap .modal-title h2 {
  font-family: var(--RDX);
  font-size: 25px;
  color: #fff;
  line-height: 120%;
  margin-bottom: 20px;
  font-weight: 700px;
}
#modal .modal-wrap .modal-title h4 {
  font-family: var(--RDX);
  font-size: 16px;
  color: white;
  font-weight: 600;
}
#modal .modal-wrap .modal-title .modal-check {
  margin-top: 10px;
  cursor: pointer;
}
#modal .modal-wrap .modal-title .modal-check input {
  margin-right: 5px;
}
#modal .modal-wrap .modal-title .modal-check label {
  font-family: var(--Poppins);
  line-height: 120%;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
#modal .modal-wrap .modal-title .modal-check label a {
  text-decoration: none;
  color: #72F34B;
}
#modal .modal-wrap h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #9296A2;
  font-size: 16px;
  font-family: var(--RDX);
}
#modal .modal-wrap .modal-newtwork {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#modal .modal-wrap .modal-newtwork .series {
  background-color: #474750;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px 0;
  width: 31%;
  margin-bottom: 15px;
}
#modal .modal-wrap .modal-newtwork .series .series-img {
  width: 45px;
}
#modal .modal-wrap .modal-newtwork .series .series-img img {
  width: 100%;
}
#modal .modal-wrap .modal-newtwork .series p {
  margin-top: 10px;
  font-family: var(--Poppins);
  font-size: 16px;
  color: #fff;
}
#modal .modal-wrap .modal-newtwork-2 .series {
  width: 24%;
}

#sidebar {
  background: #1E2127;
  border: 1px solid #1E2127;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 40px 22px;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
}
#sidebar .sidebar-logo {
  display: block;
  margin-bottom: 40px;
}
#sidebar .sidebar-link li {
  cursor: pointer;
  list-style: none;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 16px;
  width: 56px;
  height: 56px;
}
#sidebar .sidebar-link li span {
  font-family: var(--RDX);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #777786;
  margin-top: 5px;
}
#sidebar .sidebar-link .sidebar-item-active {
  background: rgba(255, 255, 255, 0.1);
}
#sidebar .sidebar-link .sidebar-item-active svg path {
  stroke: #fff;
}
#sidebar .sidebar-link .sidebar-item-active span {
  color: #fff;
}

#header {
  padding: 24px 0;
}
#header .header-wrap .search {
  background: #1E2127;
  border-radius: 3.2px;
  width: 540px;
  height: 48px;
}

.header-wrap .search .lopa {
  top: 15px;
  left: 24px;
}

.header-wrap .search input {
  background: local;
  color: #666666;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 3.2px;
  border: 1px solid transparent;
  padding-left: 50px;
}
.header-wrap .search input::-webkit-search-cancel-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: url(../img/cancel.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
}
.header-wrap .search input:focus {
  border: 1px solid #72F34B;
}
.header-wrap .search input::-moz-placeholder {
  font-family: var(--RDX);
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.header-wrap .search input::placeholder {
  font-family: var(--RDX);
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.header-wrap .wallet-btn {
  -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
  cursor: pointer;
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 13px;
  padding: 11px 32px 13px 32px;
  background: #6CDB00;
  border-radius: 2px;
  border: transparent;
  color: var(--black);
}

#home .home-wrap .home-header {
  background: linear-gradient(90deg, #28282E 0%, #13141F 50%, #13141F 100%);
  border-radius: 3.2px;
  overflow: hidden;
}

.home-header {
  height: 93.09px;
  border: 1px solid rgba(71, 71, 80, 0.3568627451);
  border-right: none;
}
.home-header .rank-series {
  padding: 0 30px;
  height: 100%;
  border: 1px solid #474750;
}
.home-header .rank-series .rank-img {
  width: 80px;
}
.home-header .rank-series .rank-img img {
  width: 100%;
}

.home-header > div:first-child {
  padding: 0;
  padding-right: 30px;
}

.home-header > div:nth-child(2) {
  border: 1px solid #393940;
  border-left: none;
}

.home-header > div:nth-child(3) {
  border: 1px solid #28282E;
  border-left: none;
}

.home-header > div:nth-child(4) {
  border: none;
}

.home-header .rank-about h3 {
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}
.home-header .rank-about h3:last-child {
  font-weight: 500;
  font-family: var(--Poppins);
  color: #72F34B;
  opacity: 1;
}
.home-header .rank-about .rank-price {
  font-family: var(--RDX);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.home-wrap .ranks {
  margin-top: 41px;
}
.home-wrap .ranks .rank-card {
  flex-direction: column;
}

.ranks .rank-card .rank-card-img {
  width: 96px;
}
.ranks .rank-card .rank-card-img img {
  width: 100%;
}

.ranks .rank-first-about {
  padding-top: 125px;
}
.ranks .rank-first-about li {
  font-family: var(--Poppins);
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}

.rank-card .rank-card-about {
  flex-direction: column;
}
.rank-card .rank-card-about h4 {
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.rank-card-about ul {
  text-align: center;
}
.rank-card-about ul li {
  font-family: var(--Poppins);
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #FFFFFF;
  opacity: 0.5;
}

.stake-tabs {
  margin-top: 50px;
}
.stake-tabs ul li {
  margin-right: 30px;
  list-style: none;
  font-family: var(--RDX);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}
.stake-tabs ul li:last-child {
  margin: 0;
}
.stake-tabs ul .tab-active {
  color: #72F34B;
  opacity: 1;
}
.stake-tabs ul .tab-active span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: #72F34B;
}

#stake {
  background: linear-gradient(0deg, #191C25 0%, rgba(25, 28, 37, 0) 100%);
  margin-top: 50px;
  padding-bottom: 40px;
}
#stake .container {
  padding: 0 40px;
}
#stake .tab-numbers {
  justify-content: center;
  margin-top: 50px;
}
#stake .tab-numbers .tab-series {
  list-style: none;
  flex-direction: column;
  margin-left: 5px;
  align-items: end;
}
#stake .tab-numbers .tab-series .number-line .line {
  display: block;
  background: #474750;
  width: 121.06px;
  height: 3px;
  margin-right: 5px;
}
#stake .tab-numbers .tab-series .number-line .line-2 {
  display: block;
  background: #474750;
  width: 60.53px;
  height: 3px;
  margin-left: 5px;
}
#stake .tab-numbers .tab-series .number-line .number {
  font-family: var(--RDX);
  width: 32px;
  height: 32px;
  background: #474750;
  border-radius: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}
#stake .tab-numbers .tab-series .number-line .number span {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
#stake .tab-numbers .tab-series .num-text {
  display: block;
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: white;
  opacity: 0.5;
  transform: translateX(20px);
}
#stake .tab-numbers .tab-series:first-child .number-line .line {
  width: 60.53px;
}
#stake .tab-numbers .tab-series:first-child .num-text {
  transform: translate(10px);
}
#stake .tab-numbers .tab-series:nth-child(3) .num-text {
  transform: translate(6px);
}
#stake .tab-numbers .tab-series:nth-child(4) .num-text {
  transform: translate(25px);
}
#stake .tab-numbers .tab-series:nth-child(5) .num-text {
  transform: translate(-50px);
}
#stake .tab-numbers .tab-series-active .number-line .line {
  background: linear-gradient(270deg, #72F34B 0%, rgba(114, 243, 75, 0) 100%);
}
#stake .tab-numbers .tab-series-active .number-line .number {
  background-color: #72F34B;
}
#stake .stake-title {
  margin-top: 35px;
  margin-bottom: 25px;
}
#stake .stake-title h1 {
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}
#stake .stake-title h5 {
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.connect .connect-wrap {
  width: 100%;
}

.connect-series {
  padding: 22px 24px;
  width: 100%;
  margin-bottom: 24px;
  background: rgba(107, 114, 128, 0.2);
  border-radius: 3.2px;
}
.connect-series .connect-cancel {
  width: 36px;
}
.connect-series .connect-cancel img {
  width: 100%;
}
.connect-series h5 {
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-left: 25px;
}
.connect-series .wallet-btn {
  -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
  cursor: pointer;
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 13px;
  padding: 11px 32px 13px 32px;
  background: #6CDB00;
  border-radius: 2px;
  border: transparent;
  color: var(--black);
}

.connect-right {
  width: 240px;
  margin-left: 24px;
}
.connect-right .connect-right-series {
  margin-bottom: 24px;
  padding: 17px 15px;
  background: linear-gradient(270deg, #191C25 0%, rgba(25, 28, 37, 0) 100%), rgba(107, 114, 128, 0.2);
  border-radius: 3.2px;
}
.connect-right .connect-right-series h3 {
  font-family: var(--RDX);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: white;
  opacity: 0.5;
}

.connect-footer {
  background: rgba(107, 114, 128, 0.2);
  padding: 16px 40px;
}
.connect-footer .checkbox input {
  margin-right: 5px;
}
.connect-footer .checkbox label {
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
}
.connect-footer .checkbox label a {
  color: #72F34B;
  text-decoration: none;
}
.connect-footer .next-btn {
  font-family: var(--RDX);
  background: rgba(107, 114, 128, 0.7);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: var(--black);
  padding: 7px 40px;
  border: none;
  cursor: pointer;
  -webkit-clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
}

#footer {
  background-color: #000;
}
#footer .main-container {
  padding: 0 48px;
}
#footer .footer-top {
  padding-bottom: 50px;
  border-bottom: 1px solid #474750;
  padding-top: 100px;
}
#footer .footer-top h5 {
  margin-top: 20px;
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: white;
}
#footer .footer-top .footer-network li {
  margin-left: 8px;
  list-style: none;
}
#footer .footer-top .footer-network li:first-child {
  margin: 0;
}
#footer .footer-wrap {
  padding: 50px 0;
}
#footer .footer-wrap .footer-series li {
  list-style: none;
  margin-bottom: 12px;
}
#footer .footer-wrap .footer-series li h4 {
  font-family: var(--ALS);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #9296A2;
}
#footer .footer-wrap .footer-series li:first-child {
  margin-bottom: 20px;
}
#footer .footer-wrap .footer-series li a {
  font-family: var(--Inter);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #EBEDF0;
}
#footer .footer-wrap .footer-series .race-for a {
  color: #FC389C;
}

@media (max-width: 1835px) {
  .main-container {
    max-width: 1480px;
  }
}
@media (max-width: 1735px) {
  .main-container {
    max-width: 1350px;
  }
}
@media (max-width: 1735px) {
  .main-container {
    max-width: 1250px;
  }
}
@media (max-width: 1510px) {
  .wrapper {
    margin-left: 150px;
  }
  .main-container {
    max-width: 1150px;
  }
}
@media (max-width: 1345px) {
  .wrapper {
    margin-left: 100px;
  }
  #sidebar {
    top: 0;
    left: 0;
  }
}
@media (max-width: 1300px) {
  .main-container {
    max-width: 1055px;
  }
  .container {
    max-width: 1055px;
  }
}
@media (max-width: 1190px) {
  .main-container {
    max-width: 900px;
  }
  .container {
    max-width: 900px;
  }
  #footer .main-container {
    padding: 0;
  }
  .ranks .rank-first-about {
    width: 300px;
    padding-top: 75px;
  }
}
@media (max-width: 1035px) {
  .main-container {
    max-width: 800px;
  }
  .container {
    max-width: 800px;
  }
  #stake .container {
    padding: 0;
  }
}
@media (max-width: 935px) {
  .ranks .rank-first-about {
    padding-top: 130px;
  }
  #header .header-wrap .search {
    width: 350px;
  }
  #header .header-wrap .header-logo {
    display: block;
    margin-right: 20px;
  }
  .header-wrap .wallet-btn {
    display: none;
  }
  .wrapper {
    margin: 0;
  }
  #sidebar {
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 16px 16px 0px 0px;
    z-index: 2;
    padding: 20px;
    top: auto;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  #sidebar .sidebar-logo {
    display: none;
  }
  #sidebar .sidebar-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #sidebar .sidebar-link li {
    margin: 0;
  }
  #sidebar .sidebar-link li span {
    display: none;
  }
  .wrapper {
    margin-bottom: 90px;
  }
}
@media (max-width: 830px) {
  .ranks .rank-first-about {
    width: 100px;
  }
  .ranks .rank-first-about li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-container {
    max-width: 90%;
  }
  .container {
    max-width: 90%;
  }
  .connect {
    flex-direction: column;
  }
  .connect .connect-right {
    width: 100%;
    margin: 0;
  }
  .home-header .rank-about h3:last-child {
    font-size: 14px;
  }
  #stake .tab-numbers .tab-series .number-line .line {
    width: 65px;
  }
}
@media (max-width: 675px) {
  .home-header .rank-about h3 {
    font-size: 12px;
    line-height: 120%;
  }
  .home-header .rank-about h3 span {
    display: none;
  }
  .home-header .rank-about h3:last-child {
    font-size: 12px;
  }
  .home-header .rank-series .rank-img {
    display: none;
  }
  .home-header > div:first-child {
    padding: 0 10px;
  }
  .home-header .rank-series {
    padding: 0 10px;
  }
  .main-container {
    max-width: 95%;
  }
  .container {
    max-width: 95%;
  }
  .footer-top {
    align-items: start;
    flex-direction: column;
  }
  .footer-network {
    margin-top: 15px;
  }
  #footer .footer-wrap {
    flex-wrap: wrap;
  }
  #footer .footer-wrap .footer-series {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;
  }
}
@media (max-width: 570px) {
  .home-wrap .ranks {
    height: 250px;
  }
  .ranks .rank-first-about {
    padding-top: 90px;
  }
  .connect-series {
    padding: 10px;
  }
  .connect-series h5 {
    margin-left: 8px;
  }
  #stake .tab-numbers .tab-series .number-line .line {
    width: 35px;
    height: 2px;
  }
  #stake .tab-numbers .tab-series .number-line .line-2 {
    width: 35px;
    height: 2px;
  }
  #stake .tab-numbers .tab-series:first-child .number-line .line {
    width: 35px;
    height: 2px;
  }
  #stake .tab-numbers .tab-series:nth-child(5) .num-text {
    transform: translateX(-24px);
  }
  #stake .tab-numbers .tab-series .number-line .number {
    width: 25px;
    height: 25px;
  }
  .connect-series .wallet-btn {
    padding: 11px 19px 13px 19px;
  }
  #stake .tab-numbers .tab-series .num-text {
    font-size: 12px;
  }
  .connect-footer {
    padding: 20px;
  }
}
@media (max-width: 455px) {
  #footer .footer-wrap .footer-series {
    width: 100px;
  }
}
@media (max-width: 415px) {
  #stake .tab-numbers .tab-series .number-line .line-2 {
    width: 14px;
  }
  #stake .tab-numbers .tab-series:first-child .number-line .line {
    width: 18px;
  }
  #stake .tab-numbers .tab-series:nth-child(5) .num-text {
    transform: translateX(0);
  }
}/*# sourceMappingURL=style.css.map */