@import url(../main.css);

:root {
    --RDX: "Rajdhani", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --black: #13141F;
}

// header series start
#header {
    padding: 24px 0;

    .header-wrap {
        .search {
            background: #1E2127;
            border-radius: 3.2px;
            width: 540px;
            height: 48px;
        }
    }
}

.header-wrap .search .lopa {
    top: 15px;
    left: 24px;
}

.header-wrap .search input {
    background: local;
    color: #666666;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 3.2px;
    border: 1px solid transparent;
    padding-left: 50px;

    &::-webkit-search-cancel-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: url(../img/cancel.svg)no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    &:focus {
        border: 1px solid #72F34B;
    }

    &::placeholder {
        font-family: var(--RDX);
        color: #666666;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}

.header-wrap .wallet-btn {
    cursor: pointer;
    font-family: var(--RDX);
    font-weight: 700;
    font-size: 13px;
    padding: 11px 32px 13px 32px;
    background: #6CDB00;
    border-radius: 2px;
    border: transparent;
    color: var(--black);
}

// header series end


// home series start
#home {
    .home-wrap {
        .home-header {
            background: linear-gradient(90deg, #28282E 0%, #13141F 50%, #13141F 100%);
            border-radius: 3.2px;
            overflow: hidden;
        }
    }
}

.home-header {
    height: 93.09px;
    border: 1px solid #4747505b;
    border-right: none;

    .rank-series {
        padding: 0 30px;
        height: 100%;
        border: 1px solid #474750;

        .rank-img {
            width: 80px;

            img {
                width: 100%;
            }
        }
    }
}

.home-header>div:first-child {
    padding: 0;
    padding-right: 30px;
}

.home-header>div:nth-child(2) {
    border: 1px solid #393940;
    border-left: none;
}

.home-header>div:nth-child(3) {
    border: 1px solid #28282E;
    border-left: none;
}

.home-header>div:nth-child(4) {
    border: none;
}

.home-header {
    .rank-about {
        h3 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            opacity: 0.5;

            &:last-child {
                font-weight: 500;
                font-family: var(--Poppins);
                color: #72F34B;
                opacity: 1;
            }
        }

        .rank-price {
            font-family: var(--RDX);
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }
}

.home-wrap {
    .ranks {
        margin-top: 41px;

        .rank-card {
            flex-direction: column;
        }
    }
}

.ranks {
    .rank-card {
        .rank-card-img {
            width: 96px;

            img {
                width: 100%;
            }
        }
    }
}

.ranks .rank-first-about {
    padding-top: 125px;

    li {
        font-family: var(--Poppins);
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
    }
}

.rank-card {
    .rank-card-about {
        flex-direction: column;

        h4 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }
    }
}

.rank-card-about {
    ul {
        text-align: center;

        li {
            font-family: var(--Poppins);
            list-style: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 40px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}

.stake-tabs {
    margin-top: 50px;

    ul {
        li {
            margin-right: 30px;
            list-style: none;
            font-family: var(--RDX);
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            cursor: pointer;
            opacity: 0.5;

            &:last-child {
                margin: 0;
            }
        }

        .tab-active {
            color: #72F34B;
            opacity: 1;

            span {
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 20px;
                background-color: #72F34B;
            }
        }
    }

}

.tab-numbers {
    justify-content: center;
    margin-top: 50px;
    .tab-series {
        list-style: none;
        flex-direction: column;
        margin-left: 5px;
        align-items: end;

        .number-line {
            .line {
                display: block;
                background: #474750;
                width: 121.06px;
                height: 3px;
                margin-right: 5px;
            }
            .line-2 {
                display: block;
                    background: #474750;
                    width:60.53px;
                    height: 3px;
                margin-left: 5px;
                }
            .number {
                font-family: var(--RDX);
                width: 32px;
                height: 32px;
                background: #474750;
                border-radius: 100%;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: var(--black);

                span {
                    display: block;
                    width: fit-content;
                }
            }
        }

        .num-text {
            display: block;
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #ffff;
            opacity: 0.5;
            transform: translateX(20px);
        }

        &:first-child {
            .number-line .line {
                width: 60.53px;
                    background: linear-gradient(270deg, #72F34B 0%, rgba(114, 243, 75, 0) 100%);
                }
            .num-text {
                transform: translate(10px);
            }
        }

        &:nth-child(3) {
            .num-text {
                transform: translate(6px);
            }
        }
        &:nth-child(4) {
            .num-text {
                transform: translate(25px);
            }
        }
        &:nth-child(5) {
            .num-text {
                transform: translate(-50px);
            }
        }
    }
}

// home series end