@import url(../main.css);

:root {
    --RDX: "Rajdhani", sans-serif;
    --Poppins: "Poppins", sans-serif;
    --Inter: "Inter", sans-serif;
    --ALS: "Alumni Sans", sans-serif;
    --black: #13141F;
}

// Sidebar series start
#sidebar {
    background: #1E2127;
    border: 1px solid #1E2127;
    border-radius: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 40px 22px;
    flex-direction: column;
    .sidebar-logo {
        display: block;
        margin-bottom: 40px;
    }

    .sidebar-link {
        li {
            cursor: pointer;
            list-style: none;
            flex-direction: column;
            margin-bottom: 20px;
            border-radius: 16px;
            width: 56px;
            height: 56px;

            span {
                font-family: var(--RDX);
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: #777786;
                margin-top: 5px;
            }
        }

        .sidebar-item-active {
            background: rgba(255, 255, 255, 0.1);

            svg {
                path {
                    stroke: #fff;
                }
            }

            span {
                color: #fff;
            }
        }
    }
}

// Sidebar series end

// header series start
#header {
    padding: 24px 0;

    .header-wrap {
        .search {
            background: #1E2127;
            border-radius: 3.2px;
            width: 540px;
            height: 48px;
        }
    }
}

.header-wrap .search .lopa {
    top: 15px;
    left: 24px;
}

.header-wrap .search input {
    background: local;
    color: #666666;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 3.2px;
    border: 1px solid transparent;
    padding-left: 50px;

    &::-webkit-search-cancel-button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        background: url(../img/cancel.svg)no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    &:focus {
        border: 1px solid #72F34B;
    }

    &::placeholder {
        font-family: var(--RDX);
        color: #666666;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}

.header-wrap .wallet-btn {
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
    cursor: pointer;
    font-family: var(--RDX);
    font-weight: 700;
    font-size: 13px;
    padding: 11px 32px 13px 32px;
    background: #6CDB00;
    border-radius: 2px;
    border: transparent;
    color: var(--black);
}

// header series end


// home series start
#home {
    .home-wrap {
        .home-header {
            background: linear-gradient(90deg, #28282E 0%, #13141F 50%, #13141F 100%);
            border-radius: 3.2px;
            overflow: hidden;
        }
    }
}

.home-header {
    height: 93.09px;
    border: 1px solid #4747505b;
    border-right: none;

    .rank-series {
        padding: 0 30px;
        height: 100%;
        border: 1px solid #474750;

        .rank-img {
            width: 80px;

            img {
                width: 100%;
            }
        }
    }
}

.home-header>div:first-child {
    padding: 0;
    padding-right: 30px;
}

.home-header>div:nth-child(2) {
    border: 1px solid #393940;
    border-left: none;
}

.home-header>div:nth-child(3) {
    border: 1px solid #28282E;
    border-left: none;
}

.home-header>div:nth-child(4) {
    border: none;
}

.home-header {
    .rank-about {
        h3 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            opacity: 0.5;

            &:last-child {
                font-weight: 500;
                font-family: var(--Poppins);
                color: #72F34B;
                opacity: 1;
            }
        }

        .rank-price {
            font-family: var(--RDX);
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }
}

.home-wrap {
    .ranks {
        margin-top: 41px;

        .rank-card {
            flex-direction: column;
        }
    }
}

.ranks {
    .rank-card {
        .rank-card-img {
            width: 96px;

            img {
                width: 100%;
            }
        }
    }
}

.ranks .rank-first-about {
    padding-top: 125px;

    li {
        font-family: var(--Poppins);
        list-style: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
    }
}

.rank-card {
    .rank-card-about {
        flex-direction: column;

        h4 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
        }
    }
}

.rank-card-about {
    ul {
        text-align: center;

        li {
            font-family: var(--Poppins);
            list-style: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 40px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}

.stake-tabs {
    margin-top: 50px;

    ul {
        li {
            margin-right: 30px;
            list-style: none;
            font-family: var(--RDX);
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            cursor: pointer;
            opacity: 0.5;

            &:last-child {
                margin: 0;
            }
        }

        .tab-active {
            color: #72F34B;
            opacity: 1;

            span {
                display: block;
                width: 100%;
                height: 4px;
                border-radius: 20px;
                background-color: #72F34B;
            }
        }
    }

}

// home series end

// Stake series start
#stake {
    background: linear-gradient(0deg, #191C25 0%, rgba(25, 28, 37, 0) 100%);
    margin-top: 50px;
    padding-bottom: 40px;

    .container {
        padding: 0 40px;
    }

    .tab-numbers {
        justify-content: center;
        margin-top: 50px;

        .tab-series {
            list-style: none;
            flex-direction: column;
            margin-left: 5px;
            align-items: end;

            .number-line {
                .line {
                    display: block;
                    background: #474750;
                    width: 121.06px;
                    height: 3px;
                    margin-right: 5px;
                }

                .line-2 {
                    display: block;
                    background: #474750;
                    width: 60.53px;
                    height: 3px;
                    margin-left: 5px;
                }

                .number {
                    font-family: var(--RDX);
                    width: 32px;
                    height: 32px;
                    background: #474750;
                    border-radius: 100%;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: var(--black);

                    span {
                        display: block;
                        width: fit-content;
                    }
                }
            }

            .num-text {
                display: block;
                font-family: var(--RDX);
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                color: #ffff;
                opacity: 0.5;
                transform: translateX(20px);
            }

            &:first-child {
                .number-line .line {
                    width: 60.53px;
                }

                .num-text {
                    transform: translate(10px);
                }
            }

            &:nth-child(3) {
                .num-text {
                    transform: translate(6px);
                }
            }

            &:nth-child(4) {
                .num-text {
                    transform: translate(25px);
                }
            }

            &:nth-child(5) {
                .num-text {
                    transform: translate(-50px);
                }
            }
        }

        .tab-series-active {
            .number-line {
                .line {
                    background: linear-gradient(270deg, #72F34B 0%, rgba(114, 243, 75, 0) 100%);
                }

                .number {
                    background-color: #72F34B;
                }
            }
        }
    }

    .stake-title {
        margin-top: 35px;
        margin-bottom: 25px;

        h1 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            color: #fff;
        }

        h5 {
            font-family: var(--Poppins);
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #fff;
        }
    }
}

.connect {
    .connect-wrap {
        width: 100%;
    }
}

.connect-series {
    padding: 22px 24px;
    width: 100%;
    margin-bottom: 24px;
    background: rgba(107, 114, 128, 0.2);
    border-radius: 3.2px;

    .connect-cancel {
        width: 36px;

        img {
            width: 100%;
        }
    }

    h5 {
        font-family: var(--Poppins);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #Ffff;
        margin-left: 25px;
    }

    .wallet-btn {
        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
        cursor: pointer;
        font-family: var(--RDX);
        font-weight: 700;
        font-size: 13px;
        padding: 11px 32px 13px 32px;
        background: #6CDB00;
        border-radius: 2px;
        border: transparent;
        color: var(--black);
    }
}

.connect-right {
    width: 240px;
    margin-left: 24px;

    .connect-right-series {
        margin-bottom: 24px;
        padding: 17px 15px;
        background: linear-gradient(270deg, #191C25 0%, rgba(25, 28, 37, 0) 100%), rgba(107, 114, 128, 0.2);
        border-radius: 3.2px;

        h3 {
            font-family: var(--RDX);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            color: #ffff;
            opacity: 0.5;
        }
    }
}

.connect-footer {
    background: rgba(107, 114, 128, 0.2);
    padding: 16px 40px;

    .checkbox {
        input {
            margin-right: 5px;
        }

        label {
            font-family: var(--Poppins);
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            color: #fff;

            a {
                color: #72F34B;
                text-decoration: none;
            }
        }
    }

    .next-btn {
        font-family: var(--RDX);
        background: rgba(107, 114, 128, 0.7);
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: var(--black);
        padding: 7px 40px;
        border: none;
        cursor: pointer;
        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%, 0 0);
    }
}

// Stake series end

// Footer series start
#footer {

    background-color: #000;

    .main-container {
        padding: 0 48px;
    }

    .footer-top {
        padding-bottom: 50px;
        border-bottom: 1px solid #474750;
        padding-top: 100px;

        h5 {
            margin-top: 20px;
            font-family: var(--Inter);
            font-weight: 400;
            font-size: 16px;
            line-height: 17px;
            color: #ffff;
        }

        .footer-network {
            li {
                margin-left: 8px;
                list-style: none;

                &:first-child {
                    margin: 0;
                }
            }
        }
    }

    .footer-wrap {
        padding: 50px 0;

        .footer-series {
            li {
                list-style: none;
                margin-bottom: 12px;

                h4 {
                    font-family: var(--ALS);
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #9296A2;
                }

                &:first-child {
                    margin-bottom: 20px;
                }

                a {
                    font-family: var(--Inter);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    text-decoration: none;
                    color: #EBEDF0;
                }
            }

            .race-for {
                a {
                    color: #FC389C;
                }
            }
        }
    }
}

// Footer series end

